.form-table .widefat th,.form-table .widefat td {
	padding: 8px 10px;
}
form#rating-entry-value-table-form div.tablenav label,form#rating-entry-value-table-form div.tablenav input {
	margin-right: 6px;
}
table.form-table .checkbox-label {
	margin-right: 12px;
}

table.entries th#id, table.ratingitems th#rating_item_id, table.ratingresults th#rating_item_entry_id {
	width: 2.2em;
}
table.ratingitems th#description {
	width: 20em;
}
table.ratingitems td.description input {
	width: 100%;
}
table.ratingitems td input.small-text {
	padding: 3px 5px;
}
form#add-new-rating-item-form select#type,table.ratingitems td.type select {
	width: 6em;
}
table.ratingresults th#entries_count, table.ratingresults th#action {
	width: 10em;
}

/* Reports */
#reports-form p.description {
	margin-top: 4px;
}

.report-wrapper {
	padding: 0px;
	margin: 0px 0 10px 0;
	box-sizing: border-box;
	width: 100%;
}

body.admin-color-classic .report-wrapper {
	background: #fff;
	background-color: #f7fcfe;
	border: 1px solid #d1e5ee;
}

.flot-container {
	width: 100%;
	max-width: 100%;
	display: inline-block;
}

.report-placeholder {
	margin: 10px;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

#reports-form select {
	max-width: 180px;
}



.clear-anchor {
	margin-left: 10px;
}

div#custom-star-images-details td {
	padding-bottom: 0px !important;
	padding-top: 10px !important;
}


li#toplevel_page_mr_rating_results .wp-submenu li a[href="admin.php?page=mr_edit_rating"],
li#toplevel_page_mr_rating_results .wp-submenu li a.wp-first-item {
	display: none !important;
	padding: 0px !important;
}


.about-wrap .mr-badge { float: right; border-radius: 4px; margin: 0 0 15px 15px; max-width: 120px; background-color: #37587b; padding-top: 10px; padding-bottom: 10px; }
.about-wrap #mr-header { margin-bottom: 15px; }
.about-wrap #mr-header h1 { margin-bottom: 15px !important; }
.about-wrap #mr-header .about-text { margin: 0 0 15px; max-width: 670px; }


/* Settings Page */
#mr-settings-main {
	width: 800px;
    min-height: 872px;
    position: relative;
    padding-top: 10px;
}
#mr-settings-content {
	width: 100%;
    min-width: 463px;
    float: left;
    margin-bottom: 20px;
}
#mr-settings-sidebar {
	width: 292px;
    position: absolute;
    right: -312px;
}
#mr-settings-sidebar a {
	text-decoration: none;
	color: #37587b;
}
#mr-upgrade-logo {
	background-color: #37587b; /*#37587b; */
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#mr-upgrade-content ul {
	margin-left: 30px;
}
#mr-upgrade-content ul li {
	margin: 5px 0 10px 0;
	font-size: 16px;
}
#mr-upgrade-content ul li span {
    margin-left: -31px;
    font-size: 22px;
    margin-right: 6px;
}
#mr-upgrade-content {
	background: #fff;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* About Page */
.mr-about .changelog, .mr-about .feature-section {
	padding-bottom: 0px;
}
.mr-about .about-section {
	text-align: center;
	color: #555d66;
	font-size: 30px;
	line-height: 1.9em;
	font-weight: 400;
	margin-bottom: 0px;
}
.mr-about .nav-tab .dashicons {
	line-height: 24px;
	font-size: 90%;
}
.mr-about .tab-upgrade-to-pro {
	color: #0073aa;
}

span.mr-star-rating .dashicons {
	font-size: 1.3em;
    width: 0.9em;
    height: 1em;
}

.mr-star-rating + .star-result {
	margin-left: 0px;
}



#ui-datepicker-div {display: none;}
