/* Rating Form */
div.rating-form form {
	margin: 0px;
	width : auto;
	max-width: 100%;
	display: table;
	margin-bottom: 30px;
	margin-top: 15px;
}
div.rating-form input[type="button"] {
	display: inline-block;
}
div.rating-form form table {
	width: 100%;
	text-align: left;
}
div.rating-form form h4 {
	font-weight: bold;
}
div.rating-form form table td {
	vertical-align: top;
}
div.rating-form form table label {
	font-weight: normal;
	vertical-align: text-top;
}
div.rating-form form table .value {
	padding-bottom: 10px;
	text-align: right;
}
div.rating-form form table .value select {
	min-width: 50px;
}
div.rating-form form table textarea, div.rating-form form table input {
	min-weight: 100%;
	width: 100%;
}
div.rating-form form table input[type=radio] {
	width: auto;
	margin-right: 2px;
	margin-left: 10px;
}
div.rating-form form table input[type=button] {
	width: auto;
}
div.rating-form form .save-rating {
	
}
div.rating-form form .delete-rating {
	margin-right: 10px;
}
div.rating-form form table label.textarea-label, div.rating-form form table label.input-label {
	display: block;
	padding-bottom: 0px;
}
div.rating-form div.radio-option {
	display: inline-block;
}
div.rating-form form table .action {
	text-align: right;
}
.rating-form textarea {
	width: 100%;
	max-width: 100%;
}

.rating-item .radio-option label {
	display: inline-block !important;
}

p.mr {
	margin: 0 0 10px !important;
	display: block;
}
/*
.rating-item label + .radio-option, .rating-item label + select {
	margin-top: 5px;
}*/
.rating-item .radio-option {
	margin-right: 10px;
	display: inline-block;
}
.rating-item .radio-option input {
	margin-right: 2px;
	display: inline-block;
}
label.description + select, label.description input {
	margin-left: 5px;
}
.rating-item label.description + .radio-option {
	margin-right: 10px;
}
label.description {
	display: inline-block !important;
}
.mr-star-rating-select .mr-minus {
	margin-right: 5px;
}
.mr-star-rating-select i {
	cursor: pointer;
}

.rating-result > .count, .rating-result a + *, .mr-star-rating + .star-result {
	margin-left: 3px;
}

/* Rating Results */
.rating-result-summary {
	display: inline-block;
	margin-left: 5px;
}

.rating-result .mr-star-rating, .rating-result .star-result, .rating-result .count, .rating-result {
	display: inline-block;
}

.after_title {
	margin-left: 5px;
}
.before_title {
	margin-right: 5px;
}
.before_title, .after_title {
	font-size: 65%;
	text-transform: none;
	font-weight: normal;
	display: inline-block;
	margin-left: 5px;
	text-align: left;
	vertical-align: top;
}

p.mr label, .top-rating-results tr td label { 
	margin-bottom: 0px;
}
.top-rating-results tr td {
	padding: 0 0 10px !important;
}
.top-rating-results table {
	margin-top: 10px !important;
}



/* Top Rating Results */
.top-rating-results table {
	width: auto !important;
}
.top-rating-results table tbody tr td {
	vertical-align: center;
}
.top-rating-results table tbody tr + tr td {
	margin-top: 2px;
}
.top-rating-results .rank, .top-rating-results .rating-result {
	margin-right: 10px;
	line-height: 1.4em;
}
.top-rating-results .title {
	margin-right: 3px;
}
.top-rating-results .mr-featured-img { 
	text-align: center;
	padding-right: 10px !important;
}
.top-rating-results .star-result, .top-rating-results .count {
	vertical-align: center;
}
.top-rating-results .rating-result-row + .star-result {
	margin-left: 5px;
}



/** 
 * Common
 */
.rating-item label.description {
	margin-right: 5px;
}



/* Table styles */
.top-rating-results table, .top-rating-results td, .top-rating-results th, .top-rating-results tr {
	border: none;
	border-width: 0px;
	border-spacing: 0px;
	width: auto;
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}